* {
    margin-top: 10px;



}

.primary-color {
    color: #FF5400;
}

.nav-section {


    display: flex;
    align-items: center;


    width: 1250px;
    margin: 0 auto;


}

.nav-container {

    display: flex;
    align-items: center;

    gap: 15px;

    width: 50%;
}

.nav-item a {
    text-decoration: none;
    font-size: 20px;


}

.nav-item {
    display: flex;
    justify-content: space-between;
    width: 50%;
    height: 50px;
    padding-bottom: 25px;
    padding-left: 455px;



    align-items: center;


}

.header-container {
    width: 1200px;
    height: 520px;

    margin: 0 auto;
}

.header-img {
    width: 80%;
    margin: 10px 0px;

}

.information {

    width: 700px;
    height: 500px;

    position: absolute;
    padding: 0px 320px;
    top: 35%;


}

.information h1 {
    color: azure;
    width: 600px;
    justify-content: center;
    font-size: 67px;
}

.input-box {
    box-shadow: 25% red;
}


.span-style {
    padding-left: 130px;
}

.information input {

    padding: 15px 20px;
    border-radius: 5px;
}


.population-container {

    margin: 70px 150px;

    width: 80%;
    height: 700px;

    display: flex;
    gap: 100px;

}

.population-container img {

    width: 90%;
    height: 90%;
    margin-right: 150px;

}

.population-content {
    width: 50%;
    padding-left: 30px;
}

.population-content h1 {
    font-size: 55px;
}


/*choose item*/
.chose-title {

    padding: 15px 300px;
    width: 500px;
    margin: 0 auto;

}

.chose-title h1 {
    padding: 5px 50px;
}

.chose-title p {

    width: 600px;
    justify-content: center;
}

.chose-span {
    padding-left: 150px;
}

.img-container {
    width: 70%;
    margin: 0 auto;





}

.img-container img {
    width: 99%;


}

.img-two {
    display: flex;
    gap: 50px;

    width: 1050px;


}

.img-first {
    width: 500px;
    height: 240px;


}

.img-second {
    width: 500px;
    height: 240px;


}

.img-three {

    display: flex;
    gap: 10px;
}

.img-third {
    width: 300px;
    height: 250px;
}

.img-forth {
    width: 400px;
    height: 250px;
}

.img-five {
    width: 250px;
    height: 250px;
}

.img-uncommon {

    display: flex;
    gap: 20px;
    width: 1050px;

}

.img-six {

    height: 220px;
    width: 500px;


}

.img-seven {
    height: 220px;
    width: 600px;


}

.why-choose-section-content {
    margin: 0 auto;
    width: 50%;
}

.why-choose-section-content h2 {
    padding: 10px 250px;
}

.why-choose-section-content p {
    padding: 5px 80px
}

.span-style {
    padding: 0 150px
}

.why-choose-section {

    margin: 0 auto;

    width: 71%;
    height: 800px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);



}

.why-choose-section-content-1 {
    padding: 0 10px;
    background-color: bisque;
    width: 480px;
    border-radius: 10px;
    height: 300px;

}

.why-choose-section-content-1 i {
    width: 80px;
    height: 30%;

    font-size: 90px;
    padding: 5px 10px;
}

.why-choose-section-content-2 {
    margin-right: 70px;
    padding: 0 10px;
    background-color: azure;
    width: 480px;
    border-radius: 10px;
    height: 300px;
}

.why-choose-section-content-2 i {
    width: 92px;
    height: 30%;

    font-size: 90px;
    padding: 5px 10px;
}

.why-choose-section-content-3 {
    padding: 0 20px;
    background-color: rosybrown;
    width: 85%;
    border-radius: 10px;
    height: 300px;
    margin: 0 200px;

}

.why-choose-section-content-3 i {
    width: 92px;
    height: 30%;

    font-size: 90px;
    padding: 5px 10px;
}

.best-price-item {
    display: grid;
    grid-template-columns: repeat(1fr);

    margin: 0 auto;
}

.new-sletter-container {
    margin: 0 auto;
    width: 1070px;
    height: 500px;
    display: flex;
    justify-content: space-between;

}

.new-sletter-container input {
    display: block;
}

.btn-style {
    width: 300px;
    font-size: 35px;
    background-color: tomato;

}

.new-sletter-information {

    padding: 15px 50px;

    border-radius: 5px;
    width: 500px;
}

.new-sletter-information h3 {

    color: black;
    font-size: 30px;

}

.new-sletter-information p {
    color: darkgray;
}

.input-decorate {
    width: 350px;
    font-size: 30px;
}

.new-slatter-img img {
    width: 500px;
    height: 400px;
}

.rotate-item {

    width: 250px;
    height: 120px;
    position: relative;
    bottom: 190px;
    left: 200px;
    transform: rotate(-15deg);
    border-radius: 5px;
    background-color: tomato;
}

.rotate-item h5 {
    margin: 0 auto;
    padding: 20px 70px;
    font-size: 20px;
    color: white;
}

.rotate-item p {
    margin: 0 auto;
    padding-left: 70px;
    font-size: 20px;
    color: white;
}


.footer-item {

    width: 1100px;

    background-color: darkgray;
    padding: 10px 200px;
    justify-content: center;
}

.nav-container-2 {
    display: flex;
    align-items: center;

    gap: 15px;
    margin: 0 auto;
    padding-right: 50px;

    width: 30%;
}

.footer-item h6 {

    width: 600px;
    margin: 0 auto;
    padding-left: 400px;
    height: 30px;
    font-size: 20px;


}

.fotter-description {
    width: 1200px;

    padding-left: 90px;
}

.icon-item i {

    width: 150px;
    margin: 0 20px;
    padding: 0 30px;
}


.icon-item {
    justify-content: space-around;

    margin: 0 auto;
    padding-left: 60px;

}